{% extends "base.html" %}
{% load i18n %}

{% block PageTitle %}
  {{ object.title }} -- {{ block.super }}
{% endblock PageTitle %}

{% block styles %}
  {{ block.super }}
  <style>
    .story img {
      max-width: 100%
    }
  </style>
{% endblock styles %}

{% block content %}
<div class='story'>
    <h1 class='title'>{{ object.title }}</h1>
    <h2 class='tagline'>{{ object.tagline }}</h2>
    <h4 class='written-by'>{% trans "Written by"%} <a href='{% url 'authors:detail' pk=object.author.id %}'>{{ object.author }}</a></h4>
    <h5 class='published-at'>{% trans "Published" %} {{ object.published_at }}</h5>

    {% if object.preceded_by %}
      <div class='previous-chapter'>
        {% trans "This story is the continuation of:" %} {% include "stories/partials/read_story_link.html" with story=object.preceded_by %}
      </div>
    {% endif %}

    <div class='story-markdown'>
      {{ object.html }}
    </div>

    {% if object.author.user == request.user %}
        <a href="{% url 'stories:edit' pk=object.id %}" class="btn btn-info" role="button">{% trans "Edit this story" %}</a>
        {% if not object.next_chapter %}
          <a href="{% url 'stories:create'%}?preceded_by={{object.id}}" class="btn btn-info" role="button">{% trans "Add another chapter?" %}</a>
        {% endif %}
    {% endif %}
</div>

{% if object.next_chapter %}
  <div class='next-chapter'>{% trans "Read more of this story: "%} {% include "stories/partials/read_story_link.html" with story=object.next_chapter %}</div>
{% endif %}


{% if object.inspired_by %}
  <div class='inspired-by'>
    {% trans "This story was inspired by:" %} {% include "stories/partials/read_story_link.html" with story=object.inspired_by %}
  </div>
{% endif %}


<div class="inspire" style="font-size:150%; margin-top:2em;">
  <a href="{% url 'stories:create' %}?inspired_by={{ object.id }}">
    {% trans "Want to share a story inspired by this?" %}
    <button type="button" class="btn btn-primary">Yes!</button>
  </a>
</div>

{% if inspired.exists %}
  <div class='inspired'>
    This story inspired these stories:
    <ul class='inspired'>
      {% for story in inspired %}
        <li class='inspired'>
          {% include "stories/partials/read_story_link.html" with story=story %}
        </li>
      {% endfor %}
      </ul>
  </div>
{% endif %}

{% endblock content %}
