{% extends "base.html" %}
{% load static %}

{% block contents %}

<!-- Begin Featured ================================================== -->
<section class="featured-posts">
<div class="section-title">
        <h2><span>Stories written by {{ author.name }}</span></h2>
        <div class='bio'>{{ author.bio_html }}</div>
</div>
<div class="card-columns listfeaturedtag">

    {% for object in object_list %}
        <div class="card">
                <div class="row">
                        <div class="col-md-5 wrapthumbnail">
                                <a href="post.html">
                                        <div class="thumbnail" style="background-image:url({% static 'img/demopic/1.jpg' %});">
                                        </div>
                                </a>
                        </div>
                        <div class="col-md-7">
                            <a href="{% url "stories:read" pk=object.pk %}">
                                <div class="card-block">
                                    <h2 class="card-title">{{ object.title }}</h2>
                                    <h3 class="cart-tagline">{{ object.tagline }}</h3>
                                    <h4 class="card-text">{{ object.html|truncatechars_html:100 }}</h4>
                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="post-date">{{ object.published_at }}</span><span class="dot"></span><span class="post-read">{{ object.read_time }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                </div>
        </div>
    {% endfor %}
</div>
</section>
{% endblock contents %}
