{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% blocktrans with profile.user.username as username %}{{ username }}'s profile.{% endblocktrans %}{% endblock %}
{% block content_title %}<h2>{{ profile.user.username }} {% if profile.user.get_full_name %}({{ profile.user.get_full_name }}){% endif %}</h2>{% endblock %}

{% block profile-view %}active{% endblock %}

{% block panel %}
  <div class="white-box">

    <div id="details">
      {% block profile_details %}
        <img class="mugshot" src="{{ profile.get_mugshot_url }}" alt="{% trans "Your mugshot" %}" />
        <dl>
          {% block profile_definition_list %}
            <dt>{% trans "Name" %}</dt>
            <dd>{{ profile.user.get_full_name|default:"???" }}</dd>
            <dt>{% trans "Email" %}</dt>
            <dd>
              {% if profile.user.email and not hide_email %}
                {{ profile.user.email }}
              {% else %}
                <span>Shhh!  It's a secret</span>
              {% endif %}
            </dd>
            <dt>{% trans "Age" %}</dt>
            <dd>{{ profile.age|default:"???" }}</dd>
            <dt>{% trans "Website" %}</dt>
            <dd>{% if profile.website %}
                  {{ profile.website|urlize }}
                {% else %}
                  <span>???<span>
                {% endif %}
            </dd>
            <dt>{% trans "Location" %}</dt>
            <dd>{{ profile.location|default:"???" }}</dd>
            <dt>{% trans "About me" %}</dt>
            <dd>{{ profile.about_me|default:"This user likes an air of mystery" }}</dd>
          {% endblock profile_definition_list %}
        </dl>
      {% endblock profile_details %}
    </div>
  </div>
{% endblock panel %}
