{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="ui grid signup">
    <div class="row">
      <div class="ui card">
        <div class="content header">
          <h3 class="ui header">DIARY OF LIFE</h3>
          <p>CREATE AN ACCOUNT</p>
        </div>
        <div class="content">
          <form class="ui form" action="" method="post">
            {% csrf_token %}
            <div class="field">
              {{ form.username.label_tag }}
              {{ form.username }}
              {{ form.username.errors }}
            </div>
            <div class="field">
              {{ form.email.label_tag }}
              {{ form.email }}
              {{ form.email.errors }}
            </div>
            <div class="field">
              {{ form.password1.label_tag }}
              {{ form.password1 }}
              {{ form.password1.errors }}
            </div>
            <div class="field">
              {{ form.password2.label_tag }}
              {{ form.password2 }}
              {{ form.password2.errors }}
            </div>
            <br />
            <input type="submit" value="{% trans "Signup"%}" class="ui primary button fluid"/>
          </form>
        </div>
        <div class="content extra">
                <p>Already have an account?
                <a class="nav-link" href="{% url 'userena_signin' %}">Login now!</a>
                </p>
        </div>
      </div>
    </div>

    </div>
    <script>
      $('.signup').fadeIn();
    </script>
  </div>
{% endblock %}
