{% extends 'userena/base_userena.html' %}
{% load i18n %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <div class="ui grid signup">
    <div class="row">
      <div class="ui card">
        <div class="content header">
          <h3 class="ui header">DIARY OF LIFE</h3>
          <p>CREATE AN ACCOUNT</p>
        </div>
        <div class="content">
          <form class="ui form" action="" method="post">
              {% csrf_token %}
            <div class="ui left icon input">
                <input type="text" placeholder="Username" required name="username" class="input"/>
                <i class="user icon"></i>
            </div><br></br>
            <div class="ui left icon input">
                <input type="email" placeholder="Email" required name="email" class="input"/>
                <i class="mail icon"></i>
            </div><br></br>
            <div class="ui left icon input">
                <input type="password" placeholder="Password" required name='password' class="input"/>
                <i class="lock icon"></i>
            </div><br></br>
            <div class="ui left icon input">
                <input type="password" placeholder="Confirm password" required name='cpassword' class="input"/>
                <i class="lock icon"></i>
            </div><br></br>
            <input type="submit" value="{% trans "Signup"%}" class="ui primary button fluid"/>
          </form>
        </div>
        <div class="content extra">
                <p>Already have an account?
                <a class="nav-link" href="{% url 'userena_signin' %}">Login now!</a>
                </p>
        </div>
      </div>
    </div>

    </div>
    <script>
      $('.signup').fadeIn();
    </script>
  </div>
{% endblock %}
