{% extends "base.html" %}

{% block top-menu %}
{% endblock top-menu %}

{% block search %}
{% endblock search %}

{% block styles %}
<style>
.long-explanation {
    margin: 1em;
    color: #8a2ea8;
    font-size: 120%;
}
</style>
{% endblock styles %}

{% block content %}

<h3>Collaborative Storytelling</h3>
<div class='long-explanation'>
Civilization is built out of stories: mine, yours, his, hers.  When we share our stories, our hopes
our fears, we have a better chance of understanding each other, of become more integrated and less
separated.</div>

<div class='long-explanation'>
I hope you will enjoy the stories you read here and most importantly,
I hope this site will inspire you to share your stories.  Happy stories, sad stories, stories you've
heard.
</div>

<div class='long-explanation'>
In order to encourage sharing of more personal stories, we have the concept of Pseudonyms.  With
these pseudonyms, you can share stories that you might not want to publicly admit to, but sometimes
sharing our stories helps us put them in perspective and helps us find comfort as we learn that
others have problems very similar to ours.
</div>

<h3>Without Comments</h3>
<div class='long-explanation'>
Too often people listen, not to understand, but to respond.  We don't want that here.  We want
understanding.  So if a particular story moves you to express yourself, do it as a story inspired by
another story.  There won't be any back and forth in the comment section to take away from the story.
</div>

<div class='long-explanation'>
Too often you see comments on YouTube videos or Facebook posts that look just like drive by
shootings.  Where the hate and the division take over and all valuable discourse is just buried in
noise we decided to forgo comments so we don't have to worry about that.
</div>

<h3>
    TL;DR
</h3>
<div class='long-explanation'>
 <a href="{% url 'stories:recent' %}">Show me some stories already!</a>
</div>

{% endblock content %}
